In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("python.txt", sep='\s+', skiprows=9, names=['Step', 'Ratio', 'Energy', 'Order'])

In [3]:
df

                                                 Step  Ratio  Energy  Order
NaN NaN NaN 0   NaN NaN NaN 0.5000 NaN NaN -2566.2733    NaN  0.2711    NaN
            1   NaN NaN NaN 0.6864 NaN NaN -3794.8075    NaN  0.2564    NaN
            2   NaN NaN NaN 0.6172 NaN NaN -4468.3552    NaN  0.2618    NaN
            3   NaN NaN NaN 0.5900 NaN NaN -5037.2932    NaN  0.2700    NaN
            4   NaN NaN NaN 0.5632 NaN NaN -5493.3445    NaN  0.2750    NaN
...                                               ...    ...     ...    ...
            196 NaN NaN NaN 0.4084 NaN NaN -8367.2287    NaN  0.3962    NaN
            197 NaN NaN NaN 0.4120 NaN NaN -8353.1352    NaN  0.3918    NaN
            198 NaN NaN NaN 0.4212 NaN NaN -8375.2204    NaN  0.3952    NaN
            199 NaN NaN NaN 0.4152 NaN NaN -8405.6719    NaN  0.4007    NaN
            200 NaN NaN NaN 0.4148 NaN NaN -8411.8627    NaN  0.4057    NaN

[201 rows x 4 columns]